.logo {
  flex-grow: 1;
}
.spacer {
  flex: 1;
}
.login-dialog {
  padding: 1rem 0;
  width: 30vw;
}
.toggle-mode,
.toggle-role {
  display: flex !important;
  justify-content: center !important;
  margin: 1rem 0;
}

.user-group {
  margin-top: 5px !important;
}

.user-options {
  justify-content: center;
  flex-direction: row !important;
}